language: python
os: linux
sudo: required
dist: xenial

python:
    - 2.7
    - 3.7
addons:
    apt:
        packages:
            - libhdf5-serial-dev
            - libopenmpi-dev
            - openmpi-bin
env:
    - CAPUT_SKYFIELD_PATH=/home/travis

install:
    - "pip install -r requirements.txt"
    - "pip install -e .[mpi]"
    - "pip install -e .[skyfield]"
    - "pip install -r doc/requirements.txt"
    - "python setup.py build_ext --inplace"

jobs:
  include:
    - stage: doctest
      script: "sphinx-build -b html doc/ doc/_build/html"
    - stage: test caput
      script:
        - "cd ~; nosetests caput"
        - "cd ~; mpirun -np 4 nosetests caput.tests.test_memh5_parallel"
        - "cd ~; mpirun -np 4 nosetests caput.tests.test_mpiarray"
        - "cd ~; mpirun -np 4 nosetests caput.tests.test_moving_weighted_median"
    - stage: code linting
      python: 3.7
      script:
        - "pip install black"
        - "black --check ."
